.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow-x: auto;
  z-index: 1001;
  color: #fff;
  display: none;
}
.modal .container {
  margin: 5rem auto;
  padding: 0 1.5rem;
}
.modal .container {
  *zoom: 1;
}
.modal .container:before,
.modal .container:after {
  content: "";
  display: table;
}
.modal .container:after {
  clear: both;
}
.modal .container,
.modal .modal-center {
  max-width: 60rem;
}
.modal .modal-center {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  -moz-transform: translate(-50%);
  -o-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
}

.modal.active {
  display: block;
}
.modal.small .container {
  max-width: initial;
  margin: 0;
  padding: 0;
}
.modal.small .close {
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
}
.modal.js-modal-sign-modal,
.modal.js-modal-sign-loading-modal {
  background: rgba(0, 0, 0, 0.5);
}
.modal .modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 50%;
  max-height: 54%;
  padding: 3rem;
  color: #4a4a4a;
  overflow: auto;
  box-sizing: border-box;
  border-radius: 0;
}
@media (max-width: 58em) {
  .modal .modal-content {
    max-width: 100%;
  }
}
@media (max-width: 58em) {
  .modal .modal-content {
    left: 0%;
    transform: translate(0, -50%);
  }
}
.modal .close:after {
  top: 0.5rem;
}