<footer>
  <div id="footer-extra">
    <ul class="center">
      <li>
        <a
          tabindex="0"
          title="Report a technical/content problem or give feedback on this page"
          [translate]="'footer.reportAProblem'"
          >Report a technical/content problem or give feedback on this page</a
        >
      </li>
    </ul>
  </div>
  <div id="footer-links">
    <ul class="center">
      <li>
        <a tabindex="0" title="Cookies" [translate]="'footer.cookies'"
          >Cookies</a
        >
      </li>
      <li>
        <a tabindex="0" title="Legal notice" [translate]="'footer.legalNotice'"
          >Legal notice</a
        >
      </li>
      <li>
        <a
          tabindex="0"
          title="Privacy policy"
          [translate]="'footer.privacyPolicy'"
          >Privacy policy</a
        >
      </li>
      <li>
        <a
          tabindex="0"
          title="Brexit notice"
          [translate]="'footer.brexitNotice'"
          >Brexit notice</a
        >
      </li>
      <li>
        <a tabindex="0" title="Contact" [translate]="'footer.contact'"
          >Contact</a
        >
      </li>
      <li>
        <a tabindex="0" title="Sitemap" [translate]="'footer.sitemap'"
          >Sitemap</a
        >
      </li>
    </ul>
  </div>
</footer>
