<div id="step3">
  <h3 [translate]="'jurisdiction.title'">3. Jurisdiction</h3>
  <label style="font-size: 16px"> </label>
  <div concept="http://scanii.org/domain/jurisdiction"></div>
  <div class="form-row full-width">
    <div class="description">
      <div style="margin-bottom: 1rem"></div>
      <div style="margin-bottom: 1rem"></div>
      <div style="margin-bottom: 5rem"></div>
      <div style="margin-top: -3rem">
        <div class="form-row full-width bold">
          <div>
            <label style="margin-bottom: 0px">
              <span [translate]="'jurisdiction.question'">
                3. On what ground do you consider the court/tribunal to have
                jurisdiction?</span
              >
              <span class="asterisk">*</span>
            </label>
          </div>
        </div>
      </div>
      <div class="df_expanded">
        <form
          name="editForm"
          role="form"
          [formGroup]="jurisdictionService.editForm"
        >
          <div class="form-row full-width bold">
            <div>
              <!-- NEW ENTRY -->
              <div
                class="radio-wrapper"
                id="input-wrapper_dynformSCA4DomicileDefendant"
              >
                <input
                  type="checkbox"
                  name="dynformSCA4DomicileDefendant"
                  value="1"
                  id="dynformSCA4DomicileDefendant"
                  class="df_input"
                  data-title=""
                  formControlName="defendantDomicile"
                  (change)="jurisdictionService.markCheckboxesAsDirty()"
                />
                <label for="dynformSCA4DomicileDefendant">
                  <span [translate]="'jurisdiction.defendantDomicile'">
                    3.1. Domicile of the defendant</span
                  >
                </label>
              </div>
              <div
                *ngIf="
                  jurisdictionService.editForm.get('defendantDomicile')!
                    .invalid &&
                  jurisdictionService.editForm.get('defendantDomicile')!.dirty
                "
              >
                <span
                  id="validation_error_text_dynformSCA4DomicileDefendant"
                  class="error"
                  style="position: relative; top: 0px"
                  [translate]="'errors.jurisdictionValidationError'"
                  >One of the fields 3.1-3.8 must be selected
                </span>
              </div>
              <!-- NEW ENTRY -->
            </div>
          </div>
          <div class="form-row full-width bold">
            <div>
              <!-- NEW ENTRY -->

              <div
                class="radio-wrapper"
                id="input-wrapper_dynformSCA4DomicileConsumer"
              >
                <input
                  type="checkbox"
                  name="dynformSCA4DomicileConsumer"
                  value="1"
                  id="dynformSCA4DomicileConsumer"
                  class="df_input"
                  data-title=""
                  formControlName="customerDomicile"
                  (change)="jurisdictionService.markCheckboxesAsDirty()"
                />

                <label for="dynformSCA4DomicileConsumer">
                  <span [translate]="'jurisdiction.customerDomicilie'"
                    >3.2. Domicile of the consumer</span
                  >
                </label>
              </div>
              <div
                *ngIf="
                  jurisdictionService.editForm.get('customerDomicile')!
                    .invalid &&
                  jurisdictionService.editForm.get('customerDomicile')!.dirty
                "
              >
                <span
                  id="validation_error_text_dynformSCA4DomicileConsumer"
                  class="error"
                  style="position: relative; top: 0px"
                  [translate]="'errors.jurisdictionValidationError'"
                  >One of the fields 3.1-3.8 must be selected
                </span>
              </div>
              <!-- NEW ENTRY -->
            </div>
          </div>
          <div class="form-row full-width bold">
            <div>
              <!-- NEW ENTRY -->

              <div
                class="radio-wrapper"
                id="input-wrapper_dynformSCA4DomicilePolicyholder"
              >
                <input
                  type="checkbox"
                  name="dynformSCA4DomicilePolicyholder"
                  value="1"
                  id="dynformSCA4DomicilePolicyholder"
                  class="df_input"
                  data-title=""
                  formControlName="policyholderDomicilie"
                  (change)="jurisdictionService.markCheckboxesAsDirty()"
                />

                <label for="dynformSCA4DomicilePolicyholder">
                  <span [translate]="'jurisdiction.policyholderDomicilie'"
                    >3.3. Domicile of the policyholder, the insured or the
                    beneficiary in insurance matters</span
                  >
                </label>
              </div>
              <div
                *ngIf="
                  jurisdictionService.editForm.get('policyholderDomicilie')!
                    .invalid &&
                  jurisdictionService.editForm.get('policyholderDomicilie')!
                    .dirty
                "
              >
                <span
                  id="validation_error_text_dynformSCA4DomicilePolicyholder"
                  class="error"
                  style="position: relative; top: 0px"
                  [translate]="'errors.jurisdictionValidationError'"
                  >One of the fields 3.1-3.8 must be selected
                </span>
              </div>
              <!-- NEW ENTRY -->
            </div>
          </div>
          <div class="form-row full-width bold">
            <div>
              <!-- NEW ENTRY -->

              <div
                class="radio-wrapper"
                id="input-wrapper_dynformSCA4PlacePerformance"
              >
                <input
                  type="checkbox"
                  name="dynformSCA4PlacePerformance"
                  value="1"
                  id="dynformSCA4PlacePerformance"
                  class="df_input"
                  data-title=""
                  formControlName="placePerformanceObbligation"
                  (change)="jurisdictionService.markCheckboxesAsDirty()"
                />

                <label for="dynformSCA4PlacePerformance">
                  <span [translate]="'jurisdiction.placePerformanceObbligation'"
                    >3.4. Place of performance of the obligation in
                    question</span
                  >
                </label>
              </div>
              <div
                *ngIf="
                  jurisdictionService.editForm.get(
                    'placePerformanceObbligation'
                  )!.invalid &&
                  jurisdictionService.editForm.get(
                    'placePerformanceObbligation'
                  )!.dirty
                "
              >
                <span
                  id="validation_error_text_dynformSCA4PlacePerformance"
                  class="error"
                  style="position: relative; top: 0px"
                  [translate]="'errors.jurisdictionValidationError'"
                  >One of the fields 3.1-3.8 must be selected
                </span>
              </div>
              <!-- NEW ENTRY -->
            </div>
          </div>
          <div class="form-row full-width bold">
            <div>
              <!-- NEW ENTRY -->

              <div
                class="radio-wrapper"
                id="input-wrapper_dynformSCA4PlaceHarmful"
              >
                <input
                  type="checkbox"
                  name="dynformSCA4PlaceHarmful"
                  value="1"
                  id="dynformSCA4PlaceHarmful"
                  class="df_input"
                  data-title=""
                  formControlName="placeHarmfulEvent"
                  (change)="jurisdictionService.markCheckboxesAsDirty()"
                />

                <label for="dynformSCA4PlaceHarmful">
                  <span [translate]="'jurisdiction.placeHarmfulEvent'"
                    >3.5. Place of the harmful event</span
                  >
                </label>
              </div>
              <div
                *ngIf="
                  jurisdictionService.editForm.get('placeHarmfulEvent')!
                    .invalid &&
                  jurisdictionService.editForm.get('placeHarmfulEvent')!.dirty
                "
              >
                <span
                  id="validation_error_text_dynformSCA4PlaceHarmful"
                  class="error"
                  style="position: relative; top: 0px"
                  [translate]="'errors.jurisdictionValidationError'"
                  >One of the fields 3.1-3.8 must be selected
                </span>
              </div>
              <!-- NEW ENTRY -->
            </div>
          </div>
          <div class="form-row full-width bold">
            <div>
              <!-- NEW ENTRY -->

              <div
                class="radio-wrapper"
                id="input-wrapper_dynformSCA4PlaceImmovable"
              >
                <input
                  type="checkbox"
                  name="dynformSCA4PlaceImmovable"
                  value="1"
                  id="dynformSCA4PlaceImmovable"
                  class="df_input"
                  data-title=""
                  formControlName="placeImmovableProperty"
                  (change)="jurisdictionService.markCheckboxesAsDirty()"
                />

                <label for="dynformSCA4PlaceImmovable">
                  <span [translate]="'jurisdiction.placeImmovableProperty'"
                    >3.6. Place where the immovable property is situated</span
                  >
                </label>
              </div>
              <div
                *ngIf="
                  jurisdictionService.editForm.get('placeImmovableProperty')!
                    .invalid &&
                  jurisdictionService.editForm.get('placeImmovableProperty')!
                    .dirty
                "
              >
                <span
                  id="validation_error_text_dynformSCA4PlaceImmovable"
                  class="error"
                  style="position: relative; top: 0px"
                  [translate]="'errors.jurisdictionValidationError'"
                  >One of the fields 3.1-3.8 must be selected
                </span>
              </div>
              <!-- NEW ENTRY -->
            </div>
          </div>
          <div class="form-row full-width bold">
            <div>
              <!-- NEW ENTRY -->

              <div class="radio-wrapper" id="input-wrapper_dynformSCA4Parties">
                <input
                  type="checkbox"
                  name="dynformSCA4Parties"
                  value="1"
                  id="dynformSCA4Parties"
                  class="df_input"
                  data-title=""
                  formControlName="choiceCourtTribunal"
                  (change)="jurisdictionService.markCheckboxesAsDirty()"
                />

                <label for="dynformSCA4Parties">
                  <span [translate]="'jurisdiction.choiceCourtTribunal'"
                    >3.7. Choice of court/tribunal agreed by the parties</span
                  >
                </label>
              </div>
              <div
                *ngIf="
                  jurisdictionService.editForm.get('choiceCourtTribunal')!
                    .invalid &&
                  jurisdictionService.editForm.get('choiceCourtTribunal')!.dirty
                "
              >
                <span
                  id="validation_error_text_dynformSCA4Parties"
                  class="error"
                  style="position: relative; top: 0px"
                  [translate]="'errors.jurisdictionValidationError'"
                  >One of the fields 3.1-3.8 must be selected
                </span>
              </div>
              <!-- NEW ENTRY -->
            </div>
          </div>
          <div class="form-row full-width bold">
            <div>
              <!-- NEW ENTRY -->

              <div class="radio-wrapper" id="input-wrapper_dynformSCA4Other">
                <input
                  type="checkbox"
                  name="dynformSCA4Other"
                  value="0"
                  (click)="expandOther($event)"
                  id="dynformSCA4Other"
                  class="df_input"
                  data-title=""
                  formControlName="otherCheckbox"
                  (change)="jurisdictionService.markCheckboxesAsDirty()"
                />

                <label for="dynformSCA4Other">
                  <span [translate]="'jurisdiction.other'"
                    >3.8. Other (please specify)</span
                  >
                </label>
              </div>
              <div
                *ngIf="
                  jurisdictionService.editForm.get('otherCheckbox')!.invalid &&
                  jurisdictionService.editForm.get('otherCheckbox')!.dirty
                "
              >
                <span
                  id="validation_error_text_dynformSCA4Other"
                  class="error"
                  style="position: relative; top: 0px"
                  [translate]="'errors.jurisdictionValidationError'"
                  >One of the fields 3.1-3.8 must be selected
                </span>
              </div>
              <!-- NEW ENTRY -->
            </div>
          </div>
          <div id="dynformSCA4Other_div" class="df_collapsed">
            <div>
              <div class="form-row full-width bold">
                <div>
                  <label for="dynformSCA4OtherText">
                    <span [translate]="'jurisdiction.specify'"
                      >Please specify</span
                    >

                    <span
                      class="asterisk"
                      id="requiredStar_required_dynformSCA4OtherText"
                      >*</span
                    >
                  </label>

                  <div
                    class="input-wrapper regular"
                    id="input-wrapper_dynformSCA4OtherText"
                    [ngClass]="{
                      invalid:
                        jurisdictionService.editForm.get('otherText')!
                          .invalid &&
                        jurisdictionService.editForm.get('otherText')!.dirty
                    }"
                  >
                    <div class="input-content nopaddingTop">
                      <input
                        type="text"
                        name="dynformSCA4OtherText"
                        maxlength="150"
                        value=""
                        class="df_textbox df_mandatory"
                        id="dynformSCA4OtherText"
                        data-title=""
                        formControlName="otherText"
                      />
                    </div>
                  </div>
                  <div
                    *ngIf="
                      jurisdictionService.editForm.get('otherText')!.invalid &&
                      jurisdictionService.editForm.get('otherText')!.dirty
                    "
                  >
                    <div
                      *ngIf="
                        jurisdictionService.editForm.get('otherText')?.errors
                          ?.required
                      "
                    >
                      <span
                        id="validation_error_text_dynformSCA4OtherText"
                        class="error"
                        style="position: relative; top: 0px"
                        [translate]="'errors.required'"
                        >Field is required
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="buttons">
  <!-- <div style="">
      <input
        type="hidden"
        id="download_token_value_id"
        name="download_token_value_id"
        value="4docs"
        data-title=""
      />
      <div class="actionbuttons-left">
        <span class="ieborder resetFormButton"
          ><input
            type="submit"
            class="button big outline pull-left"
            name="submitNavigation6"
            value="Reset form"
            onclick="if (!submitResetFormFun()) return false;"
            data-title=""
        /></span>
      </div>
  
      <div class="actionbuttons-right"></div>
    </div> -->

  <!--<br><br><br><br>-->
  <!-- the second div layer of buttons is added when the current page is not the first page -->

  <div
    style="
      margin-top: 10px;
      margin-bottom: 60px;
      display: inline-block;
      width: 100%;
    "
  >
    <!-- the back button is added always on the left of the 2nd div layer -->
    <span class="ieborder backPageButton"
      ><input
        type="submit"
        class="button big outline pull-left"
        name="submitNavigation2"
        value="<    {{ 'buttons.back' | translate }}"
        data-title=""
        (click)="changeStep('back', 'step2')"
    /></span>
    <!-- end of back button -->
    <div style="float: right; width: 40%">
      <span class="ieborder nextPageButton"
        ><input
          type="submit"
          class="button big dark pull-right"
          name="submitNavigation1"
          value="{{ 'buttons.next' | translate }}    >"
          data-title=""
          (click)="changeStep('next', 'step4')"
      /></span>
    </div>
  </div>
  <!-- end of the second div layer of buttons -->
</div>
