.modal-footer {
  display: inherit;
}

.ieborder {
  float: none;
}

.modal-footer button {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 1.6rem 2rem;
  width: 100%;
}

.modal-footer button:focus {
  padding: 1.6rem 1.8125rem;
}

h3,
h4,
h5 {
  margin-bottom: 2rem;
  margin-top: 2rem;
  line-height: 2.5rem;
}

h2, h2 span {
  font-size: 2.4rem;
}

h3, h3 span {
  font-weight: bold;
  font-family: "FontAwesome", "LiberationSans";
  font-size: 2rem
}

h4, h4 span {
  font-weight: normal;
  font-size: 1.7rem;
  text-align: justify;
}

h5, h5 span {
  font-weight: normal;
  font-size: 1.65rem;
  text-align: justify;
}

p, div, span {
  font-size: 1.6rem;
}

.colon:after {
  content: ": ";
}

.margin-bottom {
  margin-bottom: 1.5rem;
}

.margin-top {
  margin-top: 1.5rem;
}

.p-margin-top {
  margin-top: 1.5rem;
}

.radio-margin-bottom {
  margin-bottom: 1rem;
}

.disabled-input {
  pointer-events: none;
}

.percentage:after {
  content: "% ";
}

.space:after {
  content: " ";
}

.fw-bold {
  font-family: "FontAwesome", "LiberationSans";
}
