<div
  id="warning_toast"
  class="toast align-items-center text-center border-1"
  role="alert"
  aria-live="assertive"
  aria-atomic="true"
  data-bs-autohide="false"
  data-bs-animation="false"
>
  <div class="toast-body">
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      id="close_warning_toast_button"
    ></button>
    <p [innerHTML]="'menu.warningToast' | translate">
      Attenzione, ricorda che stai visualizzando delle informazioni semplficate
    </p>
  </div>
</div>
