<footer>
  <div id="footer-extra">
    <ul class="center">
      <li>
        <a
          tabindex="0"
          title="Report a technical/content problem or give feedback on this page"
          >Report a technical/content problem or give feedback on this page</a
        >
      </li>
    </ul>
  </div>
  <div id="footer-links">
    <ul class="center">
      <li>
        <a
          tabindex="0"
          title="Cookies"
          >Cookies</a
        >
      </li>
      <li>
        <a
          tabindex="0"
          title="Legal notice"
          >Legal notice</a
        >
      </li>
      <li>
        <a
          tabindex="0"
          title="Privacy policy"
          >Privacy policy</a
        >
      </li>
      <li>
        <a
          tabindex="0"
          title="Brexit notice"
          >Brexit notice</a
        >
      </li>
      <li>
        <a
          tabindex="0"
          title="Contact"
          >Contact</a
        >
      </li>
      <li>
        <a
          tabindex="0"
          title="Sitemap"
          >Sitemap</a
        >
      </li>
    </ul>
  </div>
</footer>
