<div id="step8" class="step-width">
  <h3 [translate]="'court.title'">Court/tribunal</h3>
  <label style="font-size: 16px"></label>
  <div concept="http://scanii.org/domain/courtTribunal" class="justify"></div>
  <div
    class="js-toggle-trigger"
    style="width: 93%; display: inline-block"
  ></div>

  <div class="form-row full-width">
    <div class="description">
      <form role="form" [formGroup]="courtService.editForm">
        <div class="form-row full-width bold">
          <div>
            <!-- NEW ENTRY -->

            <label>
              <span [translate]="'court.question'"
                >Before which court/tribunal are you making your claim?</span
              ></label
            >
          </div>
        </div>

        <div>
          <div>
            <span class="marginleft20px">
              <div class="form-row full-width bold">
                <div>
                  <label for="dynformSCA1CourtCountry">
                    <span [translate]="'court.country'">8.1. Country</span>

                    <span
                      class="asterisk"
                      id="requiredStar_required_dynformSCA1CourtCountry"
                      >*</span
                    >
                  </label>

                  <div
                    class="input-wrapper regular"
                    id="input-wrapper_dynformSCA1CourtCountry"
                    [ngClass]="{
                      invalid:
                        courtService.editForm.get('country')!.invalid &&
                        courtService.editForm.get('country')!.dirty
                    }"
                  >
                    <div class="input-content nopaddingTop">
                      <select
                        name="dynformSCA1CourtCountry"
                        id="dynformSCA1CourtCountry"
                        class="df_select"
                        data-title=""
                        formControlName="country"
                        (change)="setFindCourtCountry()"
                      >
                        <option
                          value=""
                          disabled=""
                          selected=""
                          [translate]="'court.select'"
                        >
                          Please select
                        </option>
                        <option
                          *ngFor="let country of courtService.europeanCountries"
                          [value]="country.value"
                        >
                          {{ country.label }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div
                    *ngIf="
                      courtService.editForm.get('country')!.invalid &&
                      courtService.editForm.get('country')!.dirty
                    "
                  >
                    <div
                      *ngIf="
                        courtService.editForm.get('country')?.errors?.required
                      "
                    >
                      <span
                        id="validation_error_text_dynformSCA1CourtCountry"
                        class="error"
                        style="position: relative; top: 0px"
                        [translate]="'errors.required'"
                      >
                        Field is required
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </span>
          </div>

          <div class="js-toggle find_court" id="find_court">
            <div
              class="js-toggle-trigger"
              id="js-toggle-id"
              tabindex="0"
              (click)="toggleFindCourt()"
            >
              <span class="subtitle info">
                <i _ngcontent-wht-c133="">&nbsp;</i
                ><span [translate]="'court.findCourt'"
                  >Find a competent court/authority</span
                ></span
              >
            </div>
            <div class="description container">
              <div
                id="dialog-form"
                data-title="Find a competent court/authority"
              >
                <div id="courtDBContainer">
                  <p style="clear: left">
                    <label style="float: left" for="cdbCountry">
                      <span [translate]="'court.findCourtCountry'"
                        >Country:</span
                      ></label
                    >
                    <span id="countryDesc" class="textonly">{{
                      selectedCountry
                    }}</span>
                    <input
                      type="hidden"
                      id="cdbCountry"
                      name="cdbCountry"
                      value="HU"
                      data-title=""
                    />
                  </p>
                  <p style="clear: left">
                    <label style="float: left" for="cdbInstrument"
                      ><span [translate]="'court.findCourtInstrument'"
                        >Instrument:</span
                      ></label
                    >
                    <span id="instrumentDesc" class="textonly">
                      <span [translate]="'court.findCourtInstrumentText'"
                        >European cross-border procedures - Small claims</span
                      ></span
                    >
                    <input
                      type="hidden"
                      id="cdbInstrument"
                      name="cdbInstrument"
                      value="SC"
                      data-title=""
                    />
                  </p>
                  <p style="clear: left">
                    <label style="float: left" for="cdbCompType"
                      ><span [translate]="'court.findCourtCompetenceType'"
                        >Competence type:</span
                      ></label
                    >
                    <span id="compTypeDesc" class="textonly"
                      ><span [translate]="'court.findCourtCompetenceTypeText'"
                        >Court with jurisdiction</span
                      ></span
                    >
                    <input
                      type="hidden"
                      id="cdbCompType"
                      name="cdbCompType"
                      value="CJ"
                      data-title=""
                    />
                  </p>
                  <div class="form-row courtDBReqParams">
                    <p class="modalPar">
                      <label for="cdbMunicipality"
                        ><span [translate]="'court.findCourtCity'">City</span>
                        <span class="asterisk">*</span>
                      </label>
                      <input
                        type="text"
                        class="df_textbox"
                        id="cdbMunicipality"
                        name="cdbMunicipality"
                        autocomplete="off"
                      />
                      <input
                        type="hidden"
                        id="municipalityLevel"
                        name="municipalityLevel"
                        value="P"
                      />
                    </p>
                  </div>
                </div>
                <input
                  type="button"
                  value="Fill in the form"
                  class="button dark"
                  id="courtSelectBtn"
                  style="display: none"
                  data-title=""
                />
              </div>
            </div>
          </div>

          <div class="marginBot15">&nbsp;</div>
          <span class="marginleft20px">
            <div class="form-row full-width bold">
              <div>
                <label for="dynformSCA1CourtName">
                  <span [translate]="'court.name'">8.2. Name</span>

                  <span
                    class="asterisk"
                    id="requiredStar_required_dynformSCA1CourtName"
                    >*</span
                  >
                </label>

                <div
                  class="input-wrapper regular"
                  id="input-wrapper_dynformSCA1CourtName"
                  [ngClass]="{
                    invalid:
                      courtService.editForm.get('name')!.invalid &&
                      courtService.editForm.get('name')!.dirty
                  }"
                >
                  <div class="input-content nopaddingTop">
                    <input
                      type="text"
                      name="dynformSCA1CourtName"
                      value=""
                      id="dynformSCA1CourtName"
                      class="df_textbox df_mandatory"
                      data-title=""
                      formControlName="name"
                    />
                  </div>
                </div>

                <div
                  *ngIf="
                    courtService.editForm.get('name')!.invalid &&
                    courtService.editForm.get('name')!.dirty
                  "
                >
                  <div
                    *ngIf="courtService.editForm.get('name')?.errors?.required"
                  >
                    <span
                      id="validation_error_text_dynformSCA1CourtName"
                      class="error"
                      style="position: relative; top: 0px"
                      [translate]="'errors.required'"
                    >
                      Field is required
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-row full-width bold">
              <div>
                <label for="dynformSCA1CourtStreet">
                  <span [translate]="'court.street'"
                    >8.3. Street and number/PO box</span
                  >

                  <span
                    class="asterisk"
                    id="requiredStar_required_dynformSCA1CourtStreet"
                    >*</span
                  >
                </label>

                <div
                  class="input-wrapper regular"
                  id="input-wrapper_dynformSCA1CourtStreet"
                  [ngClass]="{
                    invalid:
                      courtService.editForm.get('street')!.invalid &&
                      courtService.editForm.get('street')!.dirty
                  }"
                >
                  <div class="input-content nopaddingTop">
                    <input
                      type="text"
                      name="dynformSCA1CourtStreet"
                      maxlength="150"
                      value=""
                      id="dynformSCA1CourtStreet"
                      class="df_textbox df_mandatory"
                      data-title=""
                      formControlName="street"
                    />
                  </div>
                </div>

                <div
                  *ngIf="
                    courtService.editForm.get('street')!.invalid &&
                    courtService.editForm.get('street')!.dirty
                  "
                >
                  <div
                    *ngIf="
                      courtService.editForm.get('street')?.errors?.required
                    "
                  >
                    <span
                      id="validation_error_text_dynformSCA1CourtStreet"
                      class="error"
                      style="position: relative; top: 0px"
                      [translate]="'errors.required'"
                    >
                      Field is required
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-row full-width bold">
              <div>
                <label for="dynformSCA1CourtPostal">
                  <span [translate]="'court.postalCode'">8.4. Postal Code</span>

                  <span
                    class="asterisk"
                    id="requiredStar_blank_dynformSCA1CourtPostal"
                  ></span>
                </label>

                <div
                  class="input-wrapper regular"
                  id="input-wrapper_dynformSCA1CourtPostal"
                >
                  <div class="input-content nopaddingTop">
                    <input
                      type="text"
                      name="dynformSCA1CourtPostal"
                      maxlength="150"
                      value=""
                      id="dynformSCA1CourtPostal"
                      class="df_textbox"
                      data-title=""
                      formControlName="postalCode"
                    />
                  </div>
                </div>

                <span
                  id="validation_error_text_dynformSCA1CourtPostal"
                  class="error"
                  style="position: relative; top: 0px"
                >
                </span>
              </div>
            </div>

            <div class="form-row full-width bold">
              <div>
                <label for="dynformSCA1CourtCity">
                  <span [translate]="'court.city'">8.5 City</span>

                  <span
                    class="asterisk"
                    id="requiredStar_blank_dynformSCA1CourtCity"
                  ></span>
                </label>

                <div
                  class="input-wrapper regular"
                  id="input-wrapper_dynformSCA1CourtCity"
                >
                  <div class="input-content nopaddingTop">
                    <input
                      type="text"
                      name="dynformSCA1CourtCity"
                      maxlength="50"
                      value=""
                      id="dynformSCA1CourtCity"
                      class="df_textbox"
                      data-title=""
                      formControlName="city"
                    />
                  </div>
                </div>

                <span
                  id="validation_error_text_dynformSCA1CourtCity"
                  class="error"
                  style="position: relative; top: 0px"
                >
                </span>
              </div>
            </div>
          </span>
        </div>
      </form>
      <div style="overflow: hidden">
        <div class="modal small" id="js_modal_form_disclaimer_court">
          <div class="container">
            <div class="modal-content">
              <a
                class="close js-close-modal hide-text"
                data-modal="forms-disclaimer-modal"
                data-module="DisclaimerModule"
                tabindex="1"
                data-callback="closeDialog"
                (click)="closeModal('js_modal_form_disclaimer_court')"
                >Close</a
              >
              <div style="padding: 1em; font-size: 1.6rem; text-align: center">
                <span [translate]="'unitedKingdomModal'">
                  As of 1 January 2021, the United Kingdom is no longer an EU
                  Member State. However, in the field of civil justice, pending
                  procedures and proceedings initiated before the end of the
                  transition period will continue under EU law. Until the end of
                  2024, the United Kingdom can continue to be selected in online
                  (dynamic) forms for the purpose of these proceedings and
                  procedures. An exception to this rule are the Public documents
                  forms, in which the UK should not be selected.</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="buttons">
  <!-- the second div layer of buttons is added when the current page is not the first page -->
  <div
    style="
      margin-top: 10px;
      margin-bottom: 60px;
      display: inline-block;
      width: 100%;
    "
  >
    <!-- the back button is added always on the left of the 2nd div layer -->
    <span class="ieborder backPageButton"
      ><input
        type="submit"
        class="button big outline pull-left"
        name="submitNavigation2"
        value="<    {{ 'buttons.back' | translate }}"
        data-title=""
        (click)="changeStep('back', 'step7')"
    /></span>
    <!-- end of back button -->
    <div style="float: right; width: 40%">
      <!-- start of create json form -->
      <span class="ieborder pdfDownloadButton"
        ><input
          type="submit"
          class="button big dark pull-right piwik_download"
          name="submitNavigation3"
          id="submitNavigation3"
          value="{{ 'buttons.preview' | translate }}"
          data-title=""
          (click)="openPreviewModal()"
      /></span>
    </div>
  </div>
  <!-- end of the second div layer of buttons -->
</div>

<app-spinner [showSpinner]="showSpinner"></app-spinner>
