<div
  id="error_toast"
  class="toast entrance_arrow align-items-center text-center border-1"
  role="alert"
  aria-live="assertive"
  aria-atomic="true"
  data-bs-autohide="false"
  data-bs-animation="false"
>
  <div class="toast-body">
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      id="close_error_toast_button"
    ></button>
    <p [innerHTML]="'menu.errorToast' | translate">
      <strong>Errore di compilazione.</strong> Si prega di controllare la
      sezione
    </p>
  </div>
</div>
