<div id="step1" class="step-width">
  <h3>
    {{ "stepOne.title" | translate | uppercase }}
  </h3>
  <div concept="http://scanii.org/domain/guidelines" class="justify"></div>
  <div
    class="js-toggle-trigger"
    style="width: 93%; display: inline-block"
  ></div>
</div>

<div class="buttons">
  <!-- <div style="">
      <input
        type="hidden"
        id="download_token_value_id"
        name="download_token_value_id"
        value="4docs"
        data-title=""
      />
      <div class="actionbuttons-left">
        <span class="ieborder resetFormButton"
          ><input
            type="submit"
            class="button big outline pull-left"
            name="submitNavigation6"
            value="Reset form"
            onclick="if (!submitResetFormFun()) return false;"
            data-title=""
        /></span>
      </div>
  
      <div class="actionbuttons-right"></div>
    </div> -->

  <!--<br><br><br><br>-->
  <!-- the second div layer of buttons is added when the current page is not the first page -->

  <div
    style="
      margin-top: 10px;
      margin-bottom: 60px;
      display: inline-block;
      width: 100%;
    "
  >
    <!-- end of back button -->
    <div style="float: right; width: 40%">
      <span class="ieborder nextPageButton"
        ><input
          type="submit"
          class="button big dark pull-right"
          name="submitNavigation1"
          value="{{ 'buttons.next' | translate }}    >"
          data-title=""
          (click)="changeStep('next', 'step2')"
      /></span>
    </div>
  </div>
  <!-- end of the second div layer of buttons -->
</div>
